    /* RESET */

    *{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

/* GOOGLE FONT */
body{
    font-family: 'Montserrat', sans-serif;
}

/* WRAPPER */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: hotpink;
}

/* MAIN CONTENT */
.main-content{
    display: flex;
    width: 100%;
    height:calc(100% - 100px);
    background-color: blueviolet    ;
    }

.right{
    width: calc(100% - 150px)
}

.right-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 900;
    gap:10px;
   
}


/* HEADER */
.header{
    height:100px;
    background-color:yellowgreen;
}

/* SIDEBAR */
.sidebar{
    width: 150px;
    height: 100%; 
    background-color: darkgreen;
}

/* FOOTER */
.footer{
    width:100%;
    height:100px;
    background-color: darkorange;
}



